@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="row mb-auto">
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 mb-4">
                <p class="card-text">
                    Contoso University - This web application is a demonstration how to use Entity Framework Core in .Net Core Razor Pages.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text mb-auto">
                    You can build the application by following me on GitHub.
                </p>
                <p>
                    <a href="https://github.com/tiagoBarbosaF" class="stretched-link" target="_blank">See my GitHub</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column">
                <p class="card-text mb-auto">
                    You can download the completed project from GitHub.
                </p>
                <p>
                    <a href="https://github.com/tiagoBarbosaF/DotNetAndCSharpStudy/tree/main/ContosoUniversity" class="stretched-link" target="_blank">See project source code</a>
                </p>
            </div>
        </div>
    </div>
</div>